<!-- <button (click)="toggleTitle()">Toggle Title</button>
<h1 [hidden]="hideTitle">{{ title }}</h1>

<h2>My name is {{name}}</h2>

<input [(ngModel)]="name" /> -->

<div>
    <input [(ngModel)]="percentage" placeholder="percentage" type="number" />

    <input [(ngModel)]="counter" placeholder="counter" type="number" />
    <input (focus)="setHeight()" (blur)="resetHeight()" [ngStyle]="{'height': height, 'font-size': height, color: 'blue' }" [placeholder]="height" />

    <p>{{percentage | percent}}</p>

    {{ birthday.toString() === today.toString() ? "Happy birthday" : "It's not your birthday"}}
    <progress [value]="percentage" max="1 "></progress>
</div>

<div>
    Todays date is <strong> {{ today | date  | lowercase }}. </strong> Today I went to the zoo. I saw a(n)
    <button (click)=" goToTomorrow() ">Go to tomorrow</button> Todos
    <div>
        <todo *ngFor="let todo of todos; let i = index;" (deleted)="deleteItem($event, i)" [completed]="todo.completed" [task]="todo.task"></todo>
    </div>

    People
    <p *ngFor="let person of people; trackBy: trackByPeople ">
        {{person.firstName}} {{person.lastName}}
    </p>
</div>
