#chessboard {
    border: 1px solid #000;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vw;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.row:nth-child(even) .column:nth-child(odd) {
    background-color: black;
}

.row:nth-child(odd) .column:nth-child(even) {
    background-color: black;
}

.checker.black {
    background: black;
    border: 1px solid gray;
}

.checker {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: red;
}