#chessboard {
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vw;
}

.row {
    justify-content: center;
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid #000;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex: 1;
}

.row:nth-child(odd) .column:nth-child(even) {
    background-color: #000;
}

.row:nth-child(even) .column:nth-child(odd) {
    background-color: #000;
}

.checker {
    height: 90%;
    width: 90%;
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 0 6px 1px #000;
    box-shadow: 0 0 6px 1px #000;
}

.checker.black {
    border: 1px solid #fefefe;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}