/* Regualar styles */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {
    /* Medium styles */
    html {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    /* Large styles */
    html {
        font-size: 32px;
    }
}