<main>
  <h1>Mad Libs</h1>
  <p>
    Today I went to the zoo. I saw a(n)
    <mad-lib-form placeholder="(adjective)"></mad-lib-form>
    <mad-lib-form placeholder="(noun)"></mad-lib-form> jumping up and down in its tree.
    He <mad-lib-form placeholder="(verb, past tense)"></mad-lib-form> <mad-lib-form placeholder="(adverb)"></mad-lib-form>
    through the large tunnel that led to its <mad-lib-form placeholder="(adjective)"></mad-lib-form>
    <mad-lib-form placeholder="(noun)"></mad-lib-form>. I got some peanuts and passed
    them through the cage to a gigantic gray <mad-lib-form placeholder="(noun)"></mad-lib-form>
    towering above my head. Feeding that animal made
    me hungry. I went to get a <mad-lib-form placeholder="(adjective)"></mad-lib-form> scoop
    of ice cream. It filled my stomach. Afterwards I had to
    <mad-lib-form placeholder="(verb)"></mad-lib-form> <mad-lib-form placeholder="(adverb)"></mad-lib-form>  to catch our bus.
    When I got home I <mad-lib-form placeholder="(verb, past tense)"></mad-lib-form> my
    mom for a <mad-lib-form placeholder="(adjective)"></mad-lib-form> day at the zoo.
  </p>
</main>