/* Goofy borders around everything to help us see the layout. */

/* body takes up full viewport and extends all the way to the edges. */

html,
body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

article {
    flex: 3;
}

header {
    background-color: #333;
    color: #fff;
    padding: 25px;
}

main {
    padding: 15px;
}
header a {
    color: #fff;
    text-decoration: none;
}

section {
    flex: 1;
    background-color: #f8f8f8;
}

header>nav {
    display: flex;
    border: 0;
    flex-direction: column;
}

header>nav>.title {
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
}

header>nav>a {
    margin: 12px;
}

footer {
    display: none;
}

footer .copyright {
    flex: 1;
}

footer a {
    margin: 12px;
}

@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }

    footer {
        display: flex;
    }

    header>nav {
        flex-direction: row;
    }
}


