.box {
    background-color: lightgray;
    border: 1px solid gray;
    color: #333;
    width: calc(100vw / 7);
    height: calc(100vw / 7);
}

.box-container {
    display: flex;
    flex-wrap: wrap;
}

.box.empty {
    background-color: transparent;
    border: 1px solid transparent;
}

body {
    margin: 0;
    padding: 1rem 0;
    transition: background-color .6s ease-in-out;
}

* {
    box-sizing: border-box;
}